

.home {
    display: grid;
    height: 100%;
    grid-template: "navbar"
                    "content";

    &__navbar {
        grid-area: "navbar";
    }

    &__content {
        margin-top: 6rem;
        grid-area: "content";
        display: flex;
        justify-content: center;
        height: 100%;

        .form {
            display: flex;
            flex-direction: column;
            max-width: 500px;
            width: 100%;
        }
    }
}